<div class="container-login">
  <div class="container-logo">
    <img class="logo" alt="logo" src="../assets/logo/logo.svg" />
  </div>
  <div class="container-form">
    <img class="logo-form" alt="logo" src="../assets/logo/logo.svg" />
    <input class="inputLogin" placeholder="Informe seu e-mail..." />
    <input class="inputLogin" placeholder="Informe sua senha..." />
    <button class="buttonCreate">Criar conta</button>
    <button class="buttonFace">Entrar com o Facebook</button>
  </div>
</div>
